.welcome-count {
    background: radial-gradient(
        ellipse calc(240px + 10vw) calc(315px + 10vh) at 49% 37%, 
        rgb(39 9 127 / 82%), 
        rgba(6, 0, 23, 1)
    );
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.woman-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.8s ease-out 0.2s forwards;
    opacity: 0;
}

.woman-wrapper {
    position: relative;
    width: min(310px, 80vw);
}

.woman-img {
    width: 100%;
    height: auto;
    display: block;
    mask-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 82%
    );
    position: relative;
    z-index: 1;
}

.stars {
    position: absolute;
    top: -47px;
    left: -37px;
    width: 124%;
    z-index: 2;
}

.dialog-div {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: fadeIn 0.9s ease-in-out 0.3s both;
    opacity: 0;
    margin-bottom: 10px;
}

.dialog-block {
    max-width: 343px;
    height: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(211, 211, 211, 0.1);
    padding: 8px;
}

.first-text-welcom {
    text-align: center;
    color: #FFDAB9;
    line-height: 150%;
    letter-spacing: -0.24%;
    font-size: 18px;
}

.second-text-welcom {
    margin-top: 8px;
    text-align: center;
    color: #FFDAB9;
    line-height: 150%;
    letter-spacing: -0.24%;
    font-size: 24px;
}

.btn-welcome-div {
    display: flex;
    justify-content: center;
    max-width: 343px;
    margin: 0 auto;
}

.btn-welcome {
    width: 100%;
    height: 56px;
    background-color: #D4AF37;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: 0 0 7px 1px #D4AF37;
    transition: all 0.3s ease;
}

.btn-welcome:hover {
    box-shadow: 0 0 20px 8px rgba(212, 175, 55, 0.7);
}

.btn-welcome:disabled {
    background-color: #AFADAC;
    color: white;
    box-shadow: none;
}

.final-btn-welcom {
    margin-top: 100px;
}

.btn-welcome-tips {
    width: 100%;
    height: 56px;
    background-color: transparent;
    color: #D4AF37;
    font-size: 16px;
    border: 1px solid;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.input-div-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-welcome {
    margin-bottom: 20px;
    outline: none;
    background-color: #302F2F;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    width: 343px;
    padding: 20px;
    height: 56px;
    font-size: 14px;
    border: none;
    padding-right: 50px;
    cursor: pointer;
  }
  
  .input-welcome:focus {
    background-color: #1A1A1A;
    outline: 2px solid #A68CD6;
  }
  
  .clear-btn {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url('./../../Img/cross.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    display: none;
    background-color: transparent;
  }
  
  .input-container:has(.input-welcome:focus) .clear-btn,
  .input-container:has(.input-welcome:not(:placeholder-shown)) .clear-btn {
    display: block;
  }







  /* Селект (внешний вид) */
.my-custom-select {
    width: 343px !important;
    height: 56px !important;
  }
  
  .my-custom-select .ant-select-selector {
    background-color: rgba(48, 47, 47, 1) !important;
    border: none !important;
    height: 56px !important;
    display: flex;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 18px;
    padding: 0 12px;
    margin-bottom: 10px;
    overflow: none;
  }
  
  .my-custom-select .ant-select-selection-placeholder,
  .my-custom-select .ant-select-selection-item {
    color: #fff !important;
    font-size: 16px;
  }
  
  /* Dropdown через classNames.popup */
  .my-custom-dropdown .ant-select-item-option {
    background-color: #1f1f1f;
    color: white;
  }
  
  .my-custom-dropdown .ant-select-item-option-active {
    background-color: #333 !important;
    border-radius: 8px;
  }
  
  .my-custom-dropdown .ant-select-item-option-selected {
    background-color: #444 !important;
    font-weight: bold;
  }
  







  .my-custom-select.ant-select {
    background-color: rgba(48, 47, 47, 1);
    border-radius: 16px;
    border: none;
  }
  
  /* Стили для селекторной области */
  .my-custom-select .ant-select-selector {
    background-color: rgba(48, 47, 47, 1);
    border: none;
    height: 56px;
    padding: 0 12px;
  }
  
  /* Текст и placeholder */
  .my-custom-select .ant-select-selection-item,
  .my-custom-select .ant-select-selection-placeholder {
    color: rgba(211, 211, 211, 1);
    font-size: 16px;
  }












  .my-custom-dropdown.ant-select-dropdown {
    background-color: rgba(48, 47, 47, 1);
  }
  
  /* Стили элементов */
  .my-custom-dropdown .ant-select-item-option {
    color: white;
  }

  .my-custom-dropdown .ant-select-item-option-selected {
    color: rgba(212, 175, 55, 1) !important;
    font-weight: bold;
  }